@charset "utf-8";
body {
  font-family: 'Lato';
}

.font {
  font-family: 'Raleway';
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.a {
  text-decoration: none;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.header {
  background-color: #fff;
  left: 0;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header__inner__icon {
  color: #aaa;
  font-size: 40px;
  float: left;
}

.header__inner__contact {
  background-color: #74cfae;
  color: #fff;
  float: right;
  font-size: 12px;
  padding: 14px 12px;
  transition:all 0.3s ease;
}

.header__inner__contact:hover {
  color: 	#333;
}

.main {
  background-color: #f2f2f2;
  padding-top: 70px;
}

.main-title {
  padding: 250px 0;
}

.main-title__theme {
  color: #74cfae;
  font-family: 'Raleway';
  font-size: 90px;
  font-weight: 700;
  text-align: center;
}

.main-title__text {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

.article {
  background-color: #74cfae;
  color: #fff;
}

.article-content {
  display: flex;
  padding-top: 50px;

}

.article-content__image {
  margin: 0 120px;
}

.article-content__wrapper__theme {
  font-size: 24px;
  margin-bottom: 35px;
  text-align: center;
}

.article-content__wrapper__text {
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.work {
  background-color: #f2f2f2	;
}

.work__container {
  padding: 60px 0 70px 0;
}

.work__container__theme {
  font-size: 24px;
  text-align: center;
}

.work__container__list {
  padding-top: 40px;
}

.work__container__list__img {
  display: block;
  float: left;
  margin-right: 100px;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.work__container__list__img:hover {
  opacity: 1;
}

.work__container__list__img:nth-child(3n) {
  margin-right: 0;
}

.work__container__list__img:nth-child(n+4) {
  margin-top: 80px;
}

.work__container__content {
  margin-top: 90px;
}

.work__container__content__text {
  font-family: 'Lato';
  font-size: 23px;
  font-weight: lighter;
  float: left;
  line-height: 30px;
  margin: 0 90px;
  text-align: center;
  width: 650px;
}

.work__container__content__mail {
  background-color: #74cfae;
  color: #f2f2f2;
  font-size: 12px;
  float: left;
  padding: 14px 20px;
  transition: all 0.3s ease;
}

.work__container__content__mail:hover {
  color: #333;
}

.skill {
  background-color: #4e4e4e;
  color: #fff;
}

.skill__container {
  margin: 0 auto;
  padding: 70px 0 100px 0;
}

.skill__container__theme {
  font-size: 24px;
  text-align: center;
}

.skill__container__content {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.skill__container__content__wrapper {
  margin-left: 180px;
}

.skill__container__content__wrapper:first-child {
  margin-left: 0;
}

.skill__container__content__wrapper__title {
  font-size: 16px;
  margin: 10px;
  text-align: center;
}

.sns__container {
  padding: 200px 0;
  display: flex;
  justify-content: center;
}

.sns__container__icon {
  padding: 20px 0;
  transition: all 0.3s ease;
  text-align: center;
  width: 185px;
}

.icon {
  color: #74cfae;
  font-size: 50px;
}
.sns__container__icon:hover {
  background-color: #fff;
  cursor: pointer;
}

.footer {
  background-color: #74cfae;
  color: #fff;
  padding: 20px 0 25px 0;
  text-align: right;
}